<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.EventsTransactionsCurrentMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.EventsTransactionsCurrent">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="EVENT_ID" jdbcType="BIGINT" property="eventId" />
    <result column="END_EVENT_ID" jdbcType="BIGINT" property="endEventId" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="TRX_ID" jdbcType="BIGINT" property="trxId" />
    <result column="GTID" jdbcType="VARCHAR" property="gtid" />
    <result column="XID_FORMAT_ID" jdbcType="INTEGER" property="xidFormatId" />
    <result column="XID_GTRID" jdbcType="VARCHAR" property="xidGtrid" />
    <result column="XID_BQUAL" jdbcType="VARCHAR" property="xidBqual" />
    <result column="XA_STATE" jdbcType="VARCHAR" property="xaState" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="TIMER_START" jdbcType="BIGINT" property="timerStart" />
    <result column="TIMER_END" jdbcType="BIGINT" property="timerEnd" />
    <result column="TIMER_WAIT" jdbcType="BIGINT" property="timerWait" />
    <result column="ACCESS_MODE" jdbcType="CHAR" property="accessMode" />
    <result column="ISOLATION_LEVEL" jdbcType="VARCHAR" property="isolationLevel" />
    <result column="AUTOCOMMIT" jdbcType="CHAR" property="autocommit" />
    <result column="NUMBER_OF_SAVEPOINTS" jdbcType="BIGINT" property="numberOfSavepoints" />
    <result column="NUMBER_OF_ROLLBACK_TO_SAVEPOINT" jdbcType="BIGINT" property="numberOfRollbackToSavepoint" />
    <result column="NUMBER_OF_RELEASE_SAVEPOINT" jdbcType="BIGINT" property="numberOfReleaseSavepoint" />
    <result column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="NESTING_EVENT_ID" jdbcType="BIGINT" property="nestingEventId" />
    <result column="NESTING_EVENT_TYPE" jdbcType="CHAR" property="nestingEventType" />
  </resultMap>
</mapper>