<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.EventsWaitsSummaryByAccountByEventNameMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.EventsWaitsSummaryByAccountByEventName">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="HOST" jdbcType="CHAR" property="host" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="COUNT_STAR" jdbcType="BIGINT" property="countStar" />
    <result column="SUM_TIMER_WAIT" jdbcType="BIGINT" property="sumTimerWait" />
    <result column="MIN_TIMER_WAIT" jdbcType="BIGINT" property="minTimerWait" />
    <result column="AVG_TIMER_WAIT" jdbcType="BIGINT" property="avgTimerWait" />
    <result column="MAX_TIMER_WAIT" jdbcType="BIGINT" property="maxTimerWait" />
  </resultMap>
</mapper>