<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.FileInstancesMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.FileInstances">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="OPEN_COUNT" jdbcType="INTEGER" property="openCount" />
  </resultMap>
</mapper>