<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.GtidExecutedMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.GtidExecuted">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="source_uuid" jdbcType="CHAR" property="sourceUuid" />
    <result column="interval_start" jdbcType="BIGINT" property="intervalStart" />
    <result column="interval_end" jdbcType="BIGINT" property="intervalEnd" />
  </resultMap>
</mapper>