<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.HelpCategoryMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.HelpCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="help_category_id" jdbcType="SMALLINT" property="helpCategoryId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="parent_category_id" jdbcType="SMALLINT" property="parentCategoryId" />
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>
</mapper>