<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.HshActivityWelfareMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.HshActivityWelfare">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="welfare_title" jdbcType="VARCHAR" property="welfareTitle" />
    <result column="welfare_img" jdbcType="VARCHAR" property="welfareImg" />
    <result column="welfare_status" jdbcType="TINYINT" property="welfareStatus" />
    <result column="welfare_tag" jdbcType="VARCHAR" property="welfareTag" />
    <result column="cus_num_1" jdbcType="VARCHAR" property="cusNum1" />
    <result column="cus_num_2" jdbcType="BIGINT" property="cusNum2" />
  </resultMap>
</mapper>