<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.HshAnnounMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.HshAnnoun">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cus_num_1" jdbcType="VARCHAR" property="cusNum1" />
    <result column="cus_num_2" jdbcType="BIGINT" property="cusNum2" />
  </resultMap>
</mapper>