<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.HshCollectionMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.HshCollection">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="coll_id" jdbcType="BIGINT" property="collId" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="coll_type" jdbcType="TINYINT" property="collType" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="cus_num_1" jdbcType="VARCHAR" property="cusNum1" />
    <result column="cus_num_2" jdbcType="BIGINT" property="cusNum2" />
    <result column="cus_num_3" jdbcType="VARCHAR" property="cusNum3" />
  </resultMap>
</mapper>