<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.HshGateLogMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.HshGateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="menu" jdbcType="VARCHAR" property="menu" />
    <result column="opt" jdbcType="VARCHAR" property="opt" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_host" jdbcType="VARCHAR" property="crtHost" />
  </resultMap>
</mapper>