<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.HshStationOrderMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.HshStationOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="payment_type" jdbcType="TINYINT" property="paymentType" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
  </resultMap>
</mapper>