<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.InnodbTableStatsMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.InnodbTableStats">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="database_name" jdbcType="VARCHAR" property="databaseName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="n_rows" jdbcType="BIGINT" property="nRows" />
    <result column="clustered_index_size" jdbcType="BIGINT" property="clusteredIndexSize" />
    <result column="sum_of_other_index_sizes" jdbcType="BIGINT" property="sumOfOtherIndexSizes" />
  </resultMap>
</mapper>