<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.IoGlobalByFileByBytesMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.IoGlobalByFileByBytes">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="count_read" jdbcType="BIGINT" property="countRead" />
    <result column="count_write" jdbcType="BIGINT" property="countWrite" />
    <result column="write_pct" jdbcType="DECIMAL" property="writePct" />
    <result column="total_read" jdbcType="LONGVARCHAR" property="totalRead" />
    <result column="avg_read" jdbcType="LONGVARCHAR" property="avgRead" />
    <result column="total_written" jdbcType="LONGVARCHAR" property="totalWritten" />
    <result column="avg_write" jdbcType="LONGVARCHAR" property="avgWrite" />
    <result column="total" jdbcType="LONGVARCHAR" property="total" />
  </resultMap>
</mapper>