<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.MemoryByThreadByCurrentBytesMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.MemoryByThreadByCurrentBytes">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="thread_id" jdbcType="BIGINT" property="threadId" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="current_count_used" jdbcType="DECIMAL" property="currentCountUsed" />
    <result column="current_allocated" jdbcType="LONGVARCHAR" property="currentAllocated" />
    <result column="current_avg_alloc" jdbcType="LONGVARCHAR" property="currentAvgAlloc" />
    <result column="current_max_alloc" jdbcType="LONGVARCHAR" property="currentMaxAlloc" />
    <result column="total_allocated" jdbcType="LONGVARCHAR" property="totalAllocated" />
  </resultMap>
</mapper>