<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.MutexInstancesMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.MutexInstances">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="LOCKED_BY_THREAD_ID" jdbcType="BIGINT" property="lockedByThreadId" />
  </resultMap>
</mapper>