<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.PluginMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.Plugin">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dl" jdbcType="VARCHAR" property="dl" />
  </resultMap>
</mapper>