<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.ServerCostMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.ServerCost">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="cost_name" jdbcType="VARCHAR" property="costName" />
    <result column="cost_value" jdbcType="REAL" property="costValue" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
</mapper>