<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.SetupActorsMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.SetupActors">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="HOST" jdbcType="CHAR" property="host" />
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="ROLE" jdbcType="CHAR" property="role" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="HISTORY" jdbcType="CHAR" property="history" />
  </resultMap>
</mapper>