<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.SetupInstrumentsMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.SetupInstruments">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="TIMED" jdbcType="CHAR" property="timed" />
  </resultMap>
</mapper>