<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.SetupObjectsMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.SetupObjects">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="OBJECT_TYPE" jdbcType="CHAR" property="objectType" />
    <result column="OBJECT_SCHEMA" jdbcType="VARCHAR" property="objectSchema" />
    <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="TIMED" jdbcType="CHAR" property="timed" />
  </resultMap>
</mapper>