<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.TimeZoneTransitionTypeMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.TimeZoneTransitionType">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
    <result column="Transition_type_id" jdbcType="INTEGER" property="transitionTypeId" />
    <result column="Offset" jdbcType="INTEGER" property="offset" />
    <result column="Is_DST" jdbcType="TINYINT" property="isDst" />
    <result column="Abbreviation" jdbcType="CHAR" property="abbreviation" />
  </resultMap>
</mapper>