<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.UserSummaryByStatementTypeMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.UserSummaryByStatementType">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="statement" jdbcType="VARCHAR" property="statement" />
    <result column="total" jdbcType="BIGINT" property="total" />
    <result column="rows_sent" jdbcType="BIGINT" property="rowsSent" />
    <result column="rows_examined" jdbcType="BIGINT" property="rowsExamined" />
    <result column="rows_affected" jdbcType="BIGINT" property="rowsAffected" />
    <result column="full_scans" jdbcType="BIGINT" property="fullScans" />
    <result column="total_latency" jdbcType="LONGVARCHAR" property="totalLatency" />
    <result column="max_latency" jdbcType="LONGVARCHAR" property="maxLatency" />
    <result column="lock_latency" jdbcType="LONGVARCHAR" property="lockLatency" />
  </resultMap>
</mapper>