<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.VersionMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.Version">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="sys_version" jdbcType="VARCHAR" property="sysVersion" />
    <result column="mysql_version" jdbcType="VARCHAR" property="mysqlVersion" />
  </resultMap>
</mapper>