<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.WaitsByUserByLatencyMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.WaitsByUserByLatency">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="total" jdbcType="BIGINT" property="total" />
    <result column="total_latency" jdbcType="LONGVARCHAR" property="totalLatency" />
    <result column="avg_latency" jdbcType="LONGVARCHAR" property="avgLatency" />
    <result column="max_latency" jdbcType="LONGVARCHAR" property="maxLatency" />
  </resultMap>
</mapper>