<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XHostSummaryByStagesMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XHostSummaryByStages">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="total" jdbcType="BIGINT" property="total" />
    <result column="total_latency" jdbcType="BIGINT" property="totalLatency" />
    <result column="avg_latency" jdbcType="BIGINT" property="avgLatency" />
  </resultMap>
</mapper>