<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XHostSummaryByStatementLatencyMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XHostSummaryByStatementLatency">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="total_latency" jdbcType="DECIMAL" property="totalLatency" />
    <result column="max_latency" jdbcType="BIGINT" property="maxLatency" />
    <result column="lock_latency" jdbcType="DECIMAL" property="lockLatency" />
    <result column="rows_sent" jdbcType="DECIMAL" property="rowsSent" />
    <result column="rows_examined" jdbcType="DECIMAL" property="rowsExamined" />
    <result column="rows_affected" jdbcType="DECIMAL" property="rowsAffected" />
    <result column="full_scans" jdbcType="DECIMAL" property="fullScans" />
  </resultMap>
</mapper>