<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XIoGlobalByFileByLatencyMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XIoGlobalByFileByLatency">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="total" jdbcType="BIGINT" property="total" />
    <result column="total_latency" jdbcType="BIGINT" property="totalLatency" />
    <result column="count_read" jdbcType="BIGINT" property="countRead" />
    <result column="read_latency" jdbcType="BIGINT" property="readLatency" />
    <result column="count_write" jdbcType="BIGINT" property="countWrite" />
    <result column="write_latency" jdbcType="BIGINT" property="writeLatency" />
    <result column="count_misc" jdbcType="BIGINT" property="countMisc" />
    <result column="misc_latency" jdbcType="BIGINT" property="miscLatency" />
  </resultMap>
</mapper>