<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XLatestFileIoMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XLatestFileIo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="thread" jdbcType="VARCHAR" property="thread" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="latency" jdbcType="BIGINT" property="latency" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="requested" jdbcType="BIGINT" property="requested" />
  </resultMap>
</mapper>