<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XMemoryGlobalByCurrentBytesMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XMemoryGlobalByCurrentBytes">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="current_count" jdbcType="BIGINT" property="currentCount" />
    <result column="current_alloc" jdbcType="BIGINT" property="currentAlloc" />
    <result column="current_avg_alloc" jdbcType="DECIMAL" property="currentAvgAlloc" />
    <result column="high_count" jdbcType="BIGINT" property="highCount" />
    <result column="high_alloc" jdbcType="BIGINT" property="highAlloc" />
    <result column="high_avg_alloc" jdbcType="DECIMAL" property="highAvgAlloc" />
  </resultMap>
</mapper>