<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XMemoryGlobalTotalMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XMemoryGlobalTotal">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="total_allocated" jdbcType="DECIMAL" property="totalAllocated" />
  </resultMap>
</mapper>