<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdz.boot.helloboot.mapper.XStatementsWithFullTableScansMapper">
  <resultMap id="BaseResultMap" type="com.wdz.boot.helloboot.entity.XStatementsWithFullTableScans">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="db" jdbcType="VARCHAR" property="db" />
    <result column="exec_count" jdbcType="BIGINT" property="execCount" />
    <result column="total_latency" jdbcType="BIGINT" property="totalLatency" />
    <result column="no_index_used_count" jdbcType="BIGINT" property="noIndexUsedCount" />
    <result column="no_good_index_used_count" jdbcType="BIGINT" property="noGoodIndexUsedCount" />
    <result column="no_index_used_pct" jdbcType="DECIMAL" property="noIndexUsedPct" />
    <result column="rows_sent" jdbcType="BIGINT" property="rowsSent" />
    <result column="rows_examined" jdbcType="BIGINT" property="rowsExamined" />
    <result column="rows_sent_avg" jdbcType="DECIMAL" property="rowsSentAvg" />
    <result column="rows_examined_avg" jdbcType="DECIMAL" property="rowsExaminedAvg" />
    <result column="first_seen" jdbcType="TIMESTAMP" property="firstSeen" />
    <result column="last_seen" jdbcType="TIMESTAMP" property="lastSeen" />
    <result column="digest" jdbcType="VARCHAR" property="digest" />
    <result column="query" jdbcType="LONGVARCHAR" property="query" />
  </resultMap>
</mapper>